<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualisation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <style media="screen">
      #vis {
        position: relative;
        width: 900px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.world.min.js"></script>
    <div class="container">
      <h1 class="center">Mood of the World</h1>
      <div id="vis"></div>
    </div>
    <script>

      function formatData(data) {
        var formattedData = {};

        for (var i=0; i<data.length; i++) {
          var sentiment = data[i]["sentiment"];
          var fillKey = "DEF";

          if (sentiment > 0.8) {
            fillKey = "HIGH";
          }
          else if (sentiment > 0.4) {
            fillKey = "MEDIUM";
          }
          else {
            fillKey = "LOW";
          }

          formattedData[data[i]["countrycode"]] = {
            "fillKey": fillKey,
            "topHashtag": "#Trending",
            "sentiment": data[i]["sentiment"]
          }
        }

        return formattedData;
      }

      $(document).ready(function() {
          $.getJSON('/api', function(data) {
            console.log(data);
            console.log(JSON.stringify(data));

            // var color = d3.scale.threshold()
            // .domain(d3.range(0.0, 1.0)) // https://bl.ocks.org/lucguillemot/37cc6eccbdd365556feb or https://bl.ocks.org/mbostock/4060606
            // .range(d3.schemeBlues);     // Tried to make it work similarly to this guy, failed to far, TODO
            //
            // var colorScaleLin = d3.scale.linear()
            // .domain([0, data.length-1])
            // .interpolate(d3.interpolateLab)
            // .range([0, 1]);
            //
            // var correctly_formatted_data = {};
            // for(var i = 0; i < data.length; i++) {
            //     correctly_formatted_data[data[i]["countrycode"]] = color(0.1 * data[i]["sentiment"]);
            // }

            var basic_choropleth = new Datamap({
              element: document.getElementById("vis"),
              projection: 'mercator',
              fills: {
                'HIGH': '#1D257F',
                'MEDIUM': '#2E3BCC',
                'LOW': '#3A4AFF',
                'DEF': '#8690FF'
              },
              data: formatData(data),
              geographyConfig: {
                  popupTemplate: function(geo, data) {
                      return [
                        '<div class="hoverinfo"><strong>',
                          'Top Hashtag: '
                          + geo.properties.name, ': '
                          + data.topHashtag,
                        '</strong></div>'
                      ].join('');
                  }
              }
            });

            // basic_choropleth.updateChoropleth(correctly_formatted_data);

            // Draw a legend for this map
            // map.legend();


            // updating choropleth
            // map.updateChoropleth({
            //    USA: {fillKey: 'LOW'},
            //    CAN: '#0fa0fa'
            // });

            // reset map
            // map.updateChoropleth(null, {reset: true})

            });


          });
    </script>
  </body>
</html>
