<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualisation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <style media="screen">
      #vis {
        position: relative;
        width: 900px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.world.min.js"></script>
    <div class="container">
      <h1 class="center">Mood of the World</h1>
      <div id="vis"></div>
    </div>
    <script>

      function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
      }

      // This is what I call a hack
      function rgbToHex(str) {
        var r, g, b;
        var arr = str.split(',')

        r = parseInt(arr[0].split('(')[1]);
        g = parseInt(arr[1]);
        b = parseInt(arr[2].split(')')[0])

        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
      }

      function formatData(data) {
        var formattedData = {};

        var color = d3.scale.linear()
              .range(['#8690FF', '#1D257F'])
              .domain([0, 1])
              .interpolate(d3.interpolateLab);

        for (var i=0; i<data.length; i++) {
          var sentiment = data[i]["sentiment"];
          formattedData[data[i]["countrycode"]] = rgbToHex(color(sentiment));
        }

        console.log(JSON.stringify(formattedData));
        return formattedData;
      }

      $(document).ready(function() {
          $.getJSON('/api', function(data) {
            console.log(JSON.stringify(data));

            var basic_choropleth = new Datamap({
              element: document.getElementById("vis"),
              projection: 'mercator',
              fills: {
                defaultFill: '#C1C5C8'
              },
              data: data,
              geographyConfig: {
                  popupTemplate: function(geo, data) {
                      return [
                        '<div class="hoverinfo"><strong>',
                          'Top Hashtag: '
                          + geo.properties.name, ': '
                          // + data.topHashtag,
                        , '</strong></div>'
                      ].join('');
                  }
              }
            });

            basic_choropleth.updateChoropleth(formatData(data));
          });
      });
    </script>
  </body>
</html>
